.main {
 height:100%;
 background-color: black;
 padding: 30px;
}

.placementbtn {
    height: 50px;
        width: 100px;
        position: absolute;
        bottom: 30px;
        left: calc(50vw - 80px);
        border-radius: 100px;
        color: white;
        min-width: 150px;
        border: none;
        background: rgb(147, 0, 255);
        background: linear-gradient(
          311deg,
          rgba(147, 0, 255, 1) 0%,
          rgba(0, 251, 255, 1) 100%
        );
}